<div class="row">
  <div class="contains-logo">
    <div class="logoContainer" (click)="navigateHome()">
    </div>
  </div>

  <div class="navigation">
    <a (click)="selectLink('rides')" [ngClass]="{'active': selectedLink == 'rides'}" routerLink="/rides"  >Available Rides</a>
    <a (click)="selectLink('register')" routerLink="/register" [ngClass]="{'active': selectedLink == 'register'}" >Register a Ride</a>
    <a (click)="selectLink('about')" routerLink="/about" [ngClass]="{'active': selectedLink == 'about'}" >About</a>
    <a routerLink="/login">Log In</a>
  </div>
</div>
