.logoContainer{
  height: 10vh;
  margin:0;
  padding-top: 5%;
  background-size: 80%;
  cursor: pointer;
}

.contains-logo{
  margin-top: -1vw;
}

.navigation{
  height:13vh;
  display: flex;
  text-align: center;
}

.navigation a{
  margin:3vw 3vw 0;
  text-decoration: none;
  color: var(--inactiveColorBright);
  font-size: var(--normalText);
}

.row{
  display: flex;
  top:0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1vw;
}
