.row{
  display: flex;
  top:0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background-color: var(--colorDark);
  padding-bottom: 1vw;
  z-index:100;
}
.logoContainer{
  height: 10vh;
  margin:0;
  padding-top: 5%;
  background-size: 80%;
  cursor: pointer;
}

.contains-logo{
  margin-top: -1vw;
}

.navigation{
  height:13vh;
  display: flex;
  text-align: center;
  margin-right: var(--divMargin);
}

.navigation a{
  position: relative;
  margin:3vw 3vw 0;
  text-decoration: none;
  color: var(--inactiveColorBright);
  font-size: var(--normalText);
  transition: 250ms ease-out;
}

.navigation a:hover{
  color: var(--colorBright);
}



.navigation a::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: .25vw;
  background-color: var(--inactiveColorBright);
  transition: 250ms ease-out;
  border-radius: 1vw;
}

.navigation a:hover::before{
  background-color: var(--colorBright);
  width: 100%;
}
