<app-navbar></app-navbar>
<div class="account-window">
  <div class="account-box">
    <div class="account-form">
      <p class="title-account">Account</p>
      <div class="profile">
        <img *ngIf="!setPicture" src="./img/placeholder.jpg" alt="">
        <img *ngIf="setPicture" src="./img/profilePicture/{{ sessionStorage.getItem('img') }}.png" alt="">
      </div>
      <!--<form (submit)="changePicture()">
        <input type="file" (change)="onFileSelected($event)">
        <button type="submit">change profile picture</button>
      </form>
      <button></button>-->
      <!--<form (ngSubmit)="uploadImage()" enctype="multipart/form-data">
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        <button type="submit">Upload</button>
      </form>

      <img *ngIf="profileImage" [src]="profileImage" alt="Profile Image" style="width: 150px; height: 150px; border-radius: 50%;" />-->


      <form [formGroup]="fruitForm" (ngSubmit)="onSubmit()">
        <label for="fruit">Choose a profile picture:</label>
        <select id="fruit" formControlName="fruit">
          <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
        </select>

        <button type="submit" [disabled]="fruitForm.invalid">Speichern</button>
      </form>


      <!--<img src="./img/profilePicture/1.png">-->

      <div class="row">
        <p class="detail">Username: </p>
        <p class="detail">{{ sessionStorage.getItem('username') }} </p>
      </div>
      <div class="row">
        <p class="detail">Name:</p>
        <p class="detail"> {{ sessionStorage.getItem('firstname') }} {{ sessionStorage.getItem('lastname') }}</p>
      </div>
      <div class="row">
        <p class="detail">Email:</p>
        <p class="detail">{{ sessionStorage.getItem('email') }}</p>
      </div>
      <div class="row">
        <p class="detail">Phone: </p>
        <p class="detail">{{ sessionStorage.getItem('phoneNr') }}</p>
      </div>
      <button class="logout-button" (click)="LogUserOut()">Log out</button>
      <button class="statistiks-button" (click)="ShowStatistiks()">Statistiks</button>
    </div>
  </div>
</div>
