<app-navbar></app-navbar>
<div class="content">
<form [formGroup]="registerRide" (ngSubmit)="registerRideFunction()">

  <div class="register-image"></div>

  <div class="register-content">
    <h2>Registration Info</h2>

    <div class="grid-item">
      <input type="text" id="abfort" name="abfort" placeholder="From">
      <span *ngIf="!registerRide.get('abfort')?.valid && registerRide.get('abfort')?.touched"
            class="help-block">Departure point is required!</span>
    </div>

    <div class="grid-item">
      <input type="text" id="abfortC" name="abfortC" placeholder="Coordinates">
    </div>

    <div class="grid-item">
      <input type="text" id="ankort" name="ankort" placeholder="To">
      <span *ngIf="!registerRide.get('ankort')?.valid && registerRide.get('ankort')?.touched"
            class="help-block">Arrival location is required!</span>
    </div>

    <div class="grid-item">
      <input type="text" id="ankortC" name="ankortC" placeholder="Coordinates">
    </div>

    <div class="grid-item">
      <input placeholder="Date"
             onfocus="(this.type='date')"
             onblur="(this.type='text')"
             id="datum" name="datum">
      <span *ngIf="!registerRide.get('datum')?.valid && registerRide.get('datum')?.touched"
            class="help-block">Date is required!</span>
    </div>
    <div class="grid-item">
      <input placeholder="Time"
             onfocus="(this.type='time')"
             onblur="(this.type='text')" id="abfzeit" name="abfzeit">
      <span *ngIf="!registerRide.get('abfzeit')?.valid && registerRide.get('abfzeit')?.touched"
            class="help-block">Departure time is required!</span>
    </div>
    <div class="grid-item">
      <input placeholder="Available Seats"
             onfocus="(this.type='number')"
             onblur="(this.type='text')" min="1" max="100" id="fplatz" name="fplatz">
      <span *ngIf="!registerRide.get('fplatz')?.valid && registerRide.get('fplatz')?.touched"
            class="help-block">Available seats is required!</span>
    </div>

    <div class="register-button-center">
      <button class="register-submit">Submit</button>
      <span *ngIf="!registerRide.valid && submitted" class="error-message">
        Please fill out all required fields correctly!
      </span>
    </div>
  </div>

</form>
</div>
