<app-navbar></app-navbar>
<div class="content">
<form [formGroup]="registerRide" (ngSubmit)="registerRideFunction()">

  <div class="register-image"></div>

  <div class="register-content">
    <h2>Registration Info</h2>

    <div class="grid-item">
      <input type="text" id="abfort" name="abfort" placeholder="From">
    </div>

    <div class="grid-item">
      <input type="text" id="abfortC" name="abfortC" placeholder="Coordinates">
    </div>

    <div class="grid-item">
      <input type="text" id="ankort" name="ankort" placeholder="To">
    </div>

    <div class="grid-item">
      <input type="text" id="ankortC" name="ankortC" placeholder="Coordinates">
    </div>

    <div class="grid-item">
      <input placeholder="Date"
             onfocus="(this.type='date')"
             onblur="(this.type='text')"
             id="datum" name="datum">
    </div>
    <div class="grid-item">
      <input placeholder="Time"
             onfocus="(this.type='time')"
             onblur="(this.type='text')" id="abfzeit" name="abfzeit">
    </div>
    <div class="grid-item">
      <input placeholder="Available Seats"
             onfocus="(this.type='number')"
             onblur="(this.type='text')" min="1" max="100" id="fplatz" name="fplatz">
    </div>

    <div class="register-button-center">
      <button class="register-submit">Submit</button>
    </div>
  </div>

</form>
</div>
