<form [formGroup]="filterOption" (ngSubmit)="filterFunction()">
  <p class="filter-title">Filter Options:</p>
  <input placeholder="From" formControlName="from">
  <input placeholder="To" formControlName="to">
  <div class="date-box">
    <input placeholder="Date" onfocus="(this.type='date')"
           onblur="(this.type='text')" formControlName="date">
    <input placeholder="Time" onfocus="(this.type='time')"
           onblur="(this.type='text')" formControlName="time">
  </div>
  <div class="check-box">
    <input type="checkbox" formControlName="showOwnRides">
    <p>Show my rides only</p>
  </div>
  <div class="center-button">
    <button (click)="toggleState()">Apply Filter</button>
  </div>
</form>

<!--<app-ride-view *ngIf="seeRides"></app-ride-view>-->
