body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background-color: #111111;
}

#color1 {
    background-color: #aca99a;
}

#color2 {
    background-color: #656568;
}

#color3 {
    background-color: #879790;
}

#color4 {
    background-color: #48575e;
}

#color5 {
    background-color: #313b45;
}

#color6 {
    background-color: #404b5c;
}

#color7 {
    background-color: #d7e4e4;
}

#color8 {
    background-color: #7c8b95;
}

#color9 {
    background-color: #1e262f;
}

#color10 {
    background-color: #1D6317;
}

#color11 {
    background-color: #10161f;
}

#color12 {
    background-color: #e4ac16;
}

.box {
    border: 2px white solid;
    width: 20vw;
    height: 30vh;
    margin: 0 0.8%;
    content: " ";
}