/*TABELLE********************************************************************/

#ride-finder-table {
    margin-top: 5%;
    border-collapse: collapse;
    color: var(--colorBright);
    font-size: 1rem;
    min-width: 400px;
    width: 83.5vw;
    box-shadow: 10px 10px 20px #111;
}

table {
    border-radius: 5px;
    overflow: hidden;
}

#ride-finder-table thead tr {
    text-align: left;
    background-color: var(--colorDark);
    padding: 2% 0;
}

#ride-finder-table th:first-child {
    width: 8vw;

}

#ride-finder-table th:nth-child(2) {
    width: 5vw;
}

#ride-finder-table th:nth-child(6) {
    width: 10vw;
}



#ride-finder-table th:last-child {
    width: 20%;
}

#ride-finder-table td:nth-child(6) {
    width: inherit;
    text-align: center;
    padding-right: 1%;
}

#ride-finder-table th,
#ride-finder-table td {
    padding: 1.5%;
    max-width: 10vw;
}

#ride-finder-table tbody tr {
    border-bottom: 1px solid var(--colorInactive);
    background-color: rgba(16, 22, 31, 0.5);
}

#ride-finder-table tbody tr:nth-of-type(even) {
    background-color: rgba(16, 22, 31, 0.8);

}

#ride-finder-table tbody tr:last-of-type {
    border-bottom: 5px solid var(--colorDark);
}

.table-settings {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.table-setting-button {
    outline: inherit;
    background: transparent;
    border: none;
    font: inherit;
}

.table-setting-button:hover {
    cursor: pointer;
    filter: invert(#fff);
}

#ride-search {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--colorInactive);
}

#ride-search input {
    width: 14vw;
    background: none;
    border: none;
    color: var(--colorBright);
}

#ride-search button {
    outline: none;
    border: none;
    background: url("../img/magnifying_glass.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -2vw;
    width: 4vw;
    overflow: hidden;
    filter: invert(0.7);
    margin-bottom: 2%;
}

#ride-search button:hover {
    cursor: pointer;
}


/* sorry brehar aber brauch des zum coden, derfst du natürlich gerne fixen dass gut aussieht :)*/
.pagination {
    display: inline-block;
    float: right;
  }
  
  .pagination p {
      color: var(--colorInactive);
      background: var(--colorDark) ;
      float: left;
      padding: 1vh 1.1vw;
      text-decoration: none;
      cursor:pointer;
  }
  
  .pagination p:hover{
      color:var(--colorDark);
      background-color: var(--colorBright);
  }

  #filterText{
      border:none;
  }

  .map-icon{
    width: 1vw;
    filter: brightness(0) saturate(100%) invert(62%) sepia(10%) saturate(295%) hue-rotate(102deg) brightness(92%) contrast(91%);
  }

  .map-icon:hover{
    filter: brightness(0) saturate(100%) invert(93%) sepia(10%) saturate(158%) hue-rotate(132deg) brightness(96%) contrast(93%);
  }