/*TABELLE********************************************************************/

#ride-finder-table {
    margin-top: 5%;
    border-collapse: collapse;
    color: var(--colorBright);
    font-size: 1rem;
    min-width: 400px;
    width: 83.5vw;
    box-shadow: 10px 10px 20px #111;
}

table {
    border-radius: 5px;
    overflow: hidden;
}

#ride-finder-table thead tr {
    text-align: left;
    background-color: var(--colorDark);
    padding: 2% 0;
}

#ride-finder-table th:first-child {
    width: 11%;
}

#ride-finder-table th:nth-child(2) {
    width: 5%;
}

#ride-finder-table th:nth-child(6) {
    width: 13%;
}

#ride-finder-table th:nth-child(8) {
    width: 12%;
}

#ride-finder-table th:last-child {
    width: 20%;
}

#ride-finder-table td:nth-child(6) {
    width: inherit;
    text-align: center;
    padding-right: 1%;
}

#ride-finder-table th,
#ride-finder-table td {
    padding: 1.5%;
}

#ride-finder-table tbody tr {
    border-bottom: 1px solid var(--colorInactive);
    background-color: rgba(16, 22, 31, 0.5);
}

#ride-finder-table tbody tr:nth-of-type(even) {
    background-color: rgba(16, 22, 31, 0.8);
}

#ride-finder-table tbody tr:last-of-type {
    border-bottom: 5px solid var(--colorDark);
}

.table-settings {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.table-setting-button {
    outline: inherit;
    background: transparent;
    border: none;
    font: inherit;
}

.table-setting-button:hover {
    cursor: pointer;
    filter: invert(#fff);
}

#ride-search {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--colorInactive);
}

#ride-search input {
    width: 14vw;
    background: none;
    border: none;
    color: var(--colorBright);
}

#ride-search button {
    outline: none;
    border: none;
    background: url("../img/magnifying_glass.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -2vw;
    width: 4vw;
    overflow: hidden;
    filter: invert(0.7);
    margin-bottom: 2%;
}

#ride-search button:hover {
    cursor: pointer;
    background-size: calc(contain + 10vw);
}


/* sorry brehar aber brauch des zum coden, derfst du natürlich gerne fixen dass gut aussieht :)*/
.pagination {
    display: inline-block;
  }
  
  .pagination p {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination p.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination p:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }