/*TABELLE********************************************************************/

#ride-finder-table {
    margin-top: 5%;
    border-collapse: collapse;
    color: var(--colorBright);
    font-size: 1rem;
    min-width: 400px;
    width: 83.5vw;
}

table {
    border-radius: 5px;
    overflow: hidden;
}

#ride-finder-table thead tr {
    text-align: left;
    background-color: var(--colorDark);
    padding: 2% 0;
}

#ride-finder-table th:first-child {
    width: 12%;
}

#ride-finder-table th:nth-child(2) {
    width: 8%;
}

#ride-finder-table th:nth-child(6) {
    width: 13%;
}

#ride-finder-table th:nth-child(7) {
    width: 12%;
}

#ride-finder-table td:nth-child(6) {
    width: inherit;
    text-align: right;
    padding-right: 1%;
}

#ride-finder-table th,
#ride-finder-table td {
    padding: 1.5% 2%;
}

#ride-finder-table tbody tr {
    border-bottom: 1px solid var(--colorInactive);
    background-color: rgba(16, 22, 31, 0.5);
}

#ride-finder-table tbody tr:nth-of-type(even) {
    background-color: rgba(16, 22, 31, 0.8);
}

#ride-finder-table tbody tr:last-of-type {
    border-bottom: 5px solid var(--colorDark);
}

.table-settings {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.table-setting-button {
    outline: inherit;
    background: transparent;
    border: none;
    font: inherit;
}

.table-setting-button:hover {
    cursor: pointer;
}