:root {
    --backgroundColor: rgb(172, 169, 154, 0.5);
    --color: #879790;
    --colorHover: #4e5854;
    --colorDark: #10161f;
    --colorBright: #d7e4e4;
    --andreisFont: 'Gabarito', sans-serif;
    --colorInactive: #879790;
    --colorBackground: #aca99a;
}

@font-face {
    font-family: headline;
    src: url(./../font/schriftart.ttf);
}

body {
    font-family: var(--andreisFont);
    background-color: var(--backgroundColor);
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--colorBackground);
}

hr {
    height: 0.2vh;
    width: 90vw;
    position: absolute;
    top: 210vh;
    left: 5vw;
}


/***********************/

#img-box {
    width: 100vw;
    height: 100vh;
}

#home {
    width: 100vw;
    height: 100vh;
    background-color: var(--colorDark);
    display: flex;
    flex-wrap: nowrap;
}

.title {
    font-size: 4.5rem;
    padding-top: 1.5%;
    margin: 0 8%;
    position: absolute;
    color: var(--colorBright);
}

.home-box1 {
    background-color: var(--colorDark);
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8%;
}

.home-box2 {
    background-image: url("../img/background_option5.jpg");
    background-size: cover;
    background-position: center;
    width: 67%;
}

.linear-fade {
    height: 100%;
    width: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, rgba(16, 22, 31, 1) 0%, rgba(16, 22, 31, 0.1) 100%);
}

#info-box-headline {
    color: var(--colorBright);
    font-size: 1.8em;
    line-height: 150%;
}

#usefull-buttons {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

#usefull-buttons a {
    border-radius: 50px;
    padding: 2.5% 7%;
    border: var(--colorInactive) 0.1em solid;
    background-color: #151a24;
}

#usefull-buttons a {
    color: var(--colorInactive);
    text-decoration: none;
}

#usefull-buttons a:hover {
    border: var(--colorDark) 0.1em solid;
    background-color: var(--colorBright);
    cursor: pointer;
    box-shadow: 10px 5px 5px #111;
    transition: all 400ms ease-out;
}

#usefull-buttons a:hover {
    color: var(--colorDark);
    transition: all 400ms ease-out;
}


/*
*
*
*
*
*/

#reason {
    width: 100vw;
    height: 100vh;
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}

#reason-image {
    width: 33%;
    height: 90vh;
    overflow: hidden;
    background-image: url('../img/background_option2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    margin-bottom: 0;
}

#reason-content {
    color: var(--colorDark);
    font-size: 1.5em;
    margin-right: 15%;
    width: 40%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

#reason-content h3 {
    padding: 0;
    margin: 0;
    font-size: 3em;
}

#ride-finder-tab {
    padding-top: 2%;
    width: 100vw;
    height: auto;
    background-color: var(--colorBackground);
    color: var(--colorBright);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ride-finder-tab h1 {
    padding-bottom: 2%;
    color: var(--colorDark);
}

#table {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10vh;
    width: 80%;
}

.table-head {
    border-bottom: 1px solid #0000;
    background-color: var(--colorDark);
    width: 10vw;
    height: 10%;
}

tbody {
    color: var(--colorDark);
    padding-left: 3vw;
    background-color: var(--colorDark);
}

td {
    padding: 2%;
    background-color: var(--colorBright);
}

#deppTime,
#seetings {
    text-align: center;
}

.input-data {
    color: var(--colorDark);
    padding-top: 10%;
    padding-bottom: 15%;
    width: 100vw;
    height: 70vh;
    background-color: var(--colorBackground);
}

#form_head{
    padding-left: 30px;
    color: var(--colorDark);
}

.table-input {
    padding-top: 2vh;

    
    grid-column-start: 1;
    grid-column-end: 3;
    
    margin-left: 4vw;
    margin-right: 20px; 
}


#form_headline{
    text-align: center;
}


label{
    margin-right: 120px;
    width: 150px;
}

#submit{
    margin-left: 42vw;   
    margin-top: 5vh;
}

#abfzeit{
    margin-left: 2vw;
}
#abfort{
    margin-left: 10.5vw;
}
#ankort{
    margin-left: 7.5vw;
}
#fplatz{
    margin-left: 5.5vw;
}
#fahrer{
    margin-left: 5vw;
}


#headline-table {
    font-size: 2rem;
}

th {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1.1rem;
}

#table th:nth-child(1),
#table td:nth-child(1) {
    width: 150px; /* Ändere die Breite nach Bedarf */
}

.hyperlinkButton{
    color: var(--colorBright);
    width: 10vw;
    height: 4vh;
}


.hyperlinkButton:hover {
    color: var(--colorDark);
    
}

/************************Change Ride form********************************/


#form_head_change_ride{
    padding-left: 30px;
    color: var(--colorDark);
}

.table-input-change-ride {
    padding-top: 2vh;

    
    grid-column-start: 1;
    grid-column-end: 3;
    
    margin-left: 4vw;
    margin-right: 20px; 
}


#form_headline_change_ride{
    text-align: center;
}


.label_change_ride{
    margin-right: 120px;
    width: 150px;
}

#backToTableBtn{
    margin: 15px;
}