:root {
    --backgroundColor: rgb(172, 169, 154,0.5);
    --color: #879790;
    --colorHover: #4e5854;
  }

@font-face {
    font-family: headline;
    src: url(./font/schriftart.ttf);
}

body {
    font-size: 1.1rem;
    background-color: var(--backgroundColor);
}

html{
    font-family: headline;
}

.link_Eintragen{
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4vh;
    color: var(--color);
}

.link_Eintragen:hover{
    color: var(--colorHover);
}

.headline{
    color: var(--color);
    text-align: center;
}

#tabelle_ganz{
    margin: 0 auto;
}

#tabelle_head{
    border-bottom: 1px solid #0000;
    background-color: var(--color);
}

tr {
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

