<div class="driver-screen">
  <div class="background"></div>
  <div class="driver-contact-window">
    <div class="ride-section">
      <div class="image">
        <app-map class="map" [ride]="selectedRide"></app-map>
      </div>
      <div class="ride-content">

        <form [formGroup]="edit" (ngSubmit)="editFunction()" class="form-container">
          <div class="form-row">
            <label>From:</label>
            <input formControlName="placeOfDeparture" type="text"
                   placeholder="{{ selectedRide?.placeOfDeparture }}"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>From coordinates:</label>
            <input formControlName="placeOfDepartureC" type="text"
                   placeholder="{{ selectedRide?.placeOfDepartureCoordinate }}"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>To:</label>
            <input formControlName="placeOfArrival" type="text"
                   placeholder="{{ selectedRide?.placeOfArrival }}"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>To coordinates:</label>
            <input formControlName="placeOfArrivalC" type="text"
                   placeholder="{{ selectedRide?.placeOfArrivalCoordinate }}"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>Date:</label>
            <input formControlName="departureTime" type="date"
                   [value]="selectedRide?.departureTime | date: 'yyyy-MM-dd'"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>Time:</label>
            <input formControlName="departureTimeTwo" type="time"
                   [value]="selectedRide?.departureTime | date: 'HH:mm'"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>Empty Seats:</label>
            <input formControlName="availableSeats" type="number"
                   placeholder="{{ selectedRide?.availableSeats }}"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-actions">
            <button *ngIf="canEditRide(selectedRide)" (click)="editButton()" class="save">Save Changes</button>
          </div>
        </form>

      </div>
    </div>
    <div class="driver-section">
      <div class="profile">
        <img src="./img/placeholder.jpg" alt="">
      </div>
      <p>Name: {{ driver?.firstName }} {{ driver?.lastName }}</p>
      <p>Email: {{ driver?.emailAddress }}</p>
      <p>Phone: {{ driver?.phoneNr }}</p>

      <div class="centerButton">
        <button *ngIf="!canBookRide(selectedRide)" (click)="toggleBooking(selectedRide)" class="book">
          {{ seatIsBooked ? 'unbook' : 'book' }}
        </button>
      </div>

      <button (click)="toggleState()" class="exit">X</button>
    </div>
  </div>
</div>
