.driver-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.driver-contact-window {
  display: flex;
  background: var(--colorBright);
}

.ride-section .image img {
  width: 20vw;
}

.driver-section{
  position: absolute;
  top: 0;
  right: 0;
}
