<div class="driver-screen">
  <div class="background"></div>
  <div class="driver-contact-window">
    <div class="ride-section">
      <div class="image">
        <img src="./img/placeholder.jpg" alt="">
      </div>
      <div class="ride-content">
        <p>From: {{ selectedRide?.placeOfDeparture }}</p>
        <p>To: {{ selectedRide?.placeOfArrival }}</p>
        <div class="dateRow">
          <p>{{ selectedRide?.departureTime | date: 'EEE, dd.MM.yyyy' }}</p>
          <p>{{ selectedRide?.departureTime | date: 'hh:mm' }}</p>
        </div>
      </div>
    </div>
    <div class="driver-section">
      <div class="profile">
        <img src="./img/placeholder.jpg" alt="">
      </div>
      <p>Name: {{ driver?.firstName }} {{ driver?.lastName }}</p>
      <p>Email: {{ driver?.emailAddress }}</p>
      <p>Phone: {{ driver?.phoneNr }}</p>
      <p>Empty Seats: {{ selectedRide?.availableSeats }}</p>
      <div class="centerButton">
        <button (click)="getSeat(selectedRide)" class="book">book</button>
      </div>
      <button (click)="toggleState()" class="exit">X</button>
    </div>

  </div>
</div>
