<div class="driver-screen">
  <div class="background"></div>
  <div class="driver-contact-window">
    <div class="ride-section">
      <div class="image">
        <app-map class="map" [ride]="selectedRide"></app-map>
      </div>
      <div class="ride-content">

        <form [formGroup]="edit" (ngSubmit)="editFunction()" class="form-container">
          <div class="form-row">
            <label>From:</label>
            <input formControlName="placeOfDeparture" type="text"
                   placeholder="{{ selectedRide?.placeOfDeparture }}"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>To:</label>
            <input formControlName="placeOfArrival" type="text"
                   placeholder="{{ selectedRide?.placeOfArrival }}"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>Date:</label>
            <input formControlName="departureTime" type="date"
                   [value]="selectedRide?.departureTime | date: 'yyyy-M-dd'"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>Time:</label>
            <input formControlName="departureTimeTwo" type="time"
                   [value]=" selectedRide.departureTime | date: 'hh:mm' "
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-row">
            <label>Empty Seats:</label>
            <input formControlName="availableSeats" type="number"
                   placeholder="{{ selectedRide?.availableSeats }}"
                   [disabled]="!canEditRide(selectedRide)">
          </div>

          <div class="form-actions">
            <button *ngIf="canEditRide(selectedRide)" (click)="editButton()" class="save">Save</button>
            <button *ngIf="canEditRide(selectedRide)" (click)="deleteRide(selectedRide)" class="save">Delete</button>
          </div>


        </form>

      </div>
    </div>
    <div class="driver-section">
      <div *ngIf="!canEditRide(selectedRide)" class="profile">
        <img *ngIf="driver?.img == null" src="./img/placeholder.jpg" alt="">
        <img *ngIf="driver?.img != null" src="./img/profilePicture/{{ driver?.img }}.png" alt="">
        <br>
        <!---->
      </div>
      <div *ngIf="!canEditRide(selectedRide)" class="driver-section-content">
        <p>Name: {{ driver?.firstName }} {{ driver?.lastName }}</p>
        <p *ngIf="driver?.ratingCount != undefined">{{ driver?.stars}} star(s) from {{ driver?.ratingCount }} ratings</p>
        <p *ngIf="driver?.ratingCount == undefined">no rating yet</p>
        <p>Email: {{ driver?.emailAddress }}</p>
        <p>Phone: {{ driver?.phoneNr }}</p>
        <p>Rate now:</p>
        <div *ngIf="category=='ranking'" class="rating-box">
          <img
            (click)="clickRate(i)"
            class="rating-img"
            [ngStyle]="i <= selectedRating ? { 'filter': 'invert(91%) sepia(50%) saturate(4057%) hue-rotate(338deg) brightness(98%) contrast(93%)' } : {}"
            src="./img/icons/favorites.png"
            alt="star"
            *ngFor="let i of [0, 1, 2, 3, 4]">
        </div>

        <div class="centerButton">
          <button *ngIf="category=='available'" (click)="toggleBooking(selectedRide)" class="book">
            {{ seatIsBooked ? 'unbook' : 'book' }}
          </button>
          <button *ngIf="category=='booked'" (click)="unbook(selectedRide)" class="book">
            {{ unbookBool ? 'unbook' : 'book' }}
          </button>
          <button *ngIf="category=='ranking'" (click)="rateRide(selectedRide)" class="book">
            {{ stars == 0 ? 'Rate Ride!' : 'Rate ' + stars + ' star(s)!' }}
          </button>
        </div>
      </div>
      <div *ngIf="canEditRide(selectedRide)">
        <p class="passenger-title">Passengers</p>
        <p *ngIf="passengers.length == 0">No passengers yet</p>
        <div *ngIf="passengers.length > 0">
          <select class="passenger-select" [(ngModel)]="selectedPassenger">
            <option [ngValue]="null" disabled selected>Select a passenger</option>
            <option *ngFor="let passenger of passengers" [ngValue]="passenger">
              {{ passenger.username}}
            </option>
          </select>
        </div>

        <div *ngIf="selectedPassenger">
          <h3>Selected Passenger</h3>
          <p>First Name: {{ selectedPassenger.firstName }}</p>
          <p>Last Name: {{ selectedPassenger.lastName }}</p>
          <p>Email: {{selectedPassenger.emailAddress}}</p>
          <p>Phone: {{selectedPassenger.phoneNr}}</p>
        </div>
      </div>
      <button (click)="toggleState()" class="exit">X</button>
    </div>
  </div>
</div>
