.driver-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: var(--colorDark);
  opacity: 0.9;
}
.driver-contact-window {
  display: flex;
  width: 50vw;
  padding-bottom: 1vw;
  overflow: hidden;
  position: relative;
  background: var(--colorBright);
  border-radius: 25px;
  box-shadow: 3px 3px 15px #333;
  font-size: calc(var(--normalText));
}
.ride-section, .driver-section{
  width: 25vw;
}
.ride-section .image .map {
  width: 25vw;
}



.ride-content{
  padding-left: 2vw;
}

.driver-section{
  padding:1.5vw 2vw 0;
}

.centerButton{
  width: 100%;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book{
  font-family: var(--fontDrivUs), sans-serif;
  display: flex;
  outline: none;
  border-radius: 2vw;
  border: var(--colorDark) solid;
  background:var(--colorBright);
  color: var(--colorDark);
  padding:1vw 5vw;
  margin-top: 4vw;
  text-align: center;
  transition: 250ms ease-out;
  justify-self: center;
  box-shadow: 5px 5px 10px var(--inactiveColorBright);
}

.book:hover{
  cursor: pointer;
  background: var(--colorDark);
  color: var(--colorBright);
  box-shadow: none;
}

.driver-section .exit{
  position: absolute;
  top: 1vw;
  right: 1vw;
  outline: none;
  border: none;
  color: var(--colorDark);
  font-weight: bold;
  font-size: var(--normalText);
  background: var(--colorBright);
  cursor: pointer;
}

.profile img{
  width: 10vw;
  border-radius: 50%;
  overflow: hidden;
}

.profile{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
}

.dateRow{
  margin-top: -1vw;
  display: flex;
  justify-content: space-between;
}



