.content {
  position: relative;
  display: flex;
  justify-content: center;
  background: var(--colorBeige);
  color: var(--colorDark);
  min-height: 62.5vh;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  width: 100vw;
  justify-content: center;
  margin-left: 4vw;
}

li {
  background-color: var(--colorBright);
  width: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 15px #333;
  transition: ease-out 200ms;
}

li:hover{

  box-shadow: 0 0 0 #111;
  transform: scale(1.1);
  background: var(--colorBright);
}


.rideItemView{
  width: 20vw;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.rideItemView img {
  width: 20vw;
  overflow: hidden;
}

.rideItemView .text{
  padding: 1vw;
}

.dateRow{
  margin-top: -1vw;
  display: flex;
  justify-content: space-between;
}

.full-Page{
  background-color: var(--colorBeige);
}

.noScroll{
  height: 85vh;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

form{
  display: flex;
  flex-direction: column;
  width: 15vw;
  background: var(--colorDark);
  padding: .5vw 2vw;
  border-radius: 5px;
}


.filter-title{
  color: var(--colorBright);
  font-size: var(--normalText);
}
input{
  font-family: var(--fontDrivUs);
  color: var(--colorBright);
  height: 3vw;
  background: transparent;
  outline: none;
  padding-inline: 0;
  padding-block: 0;
  border: none;
  border-bottom: var(--colorBright) solid 1px;
  border-radius: 2px;
}

input::placeholder {
  color: var(--inactiveColorBright);
}

.date-box{
  display: flex;
  justify-content: space-between;
}

button{
  font-family: var(--fontDrivUs), sans-serif;
  display: flex;
  outline: none;
  border-radius: 2vw;
  border: var(--inactiveColorBright) solid;
  background:var(--colorDark);
  color: var(--inactiveColorBright);
  margin: 1.2vw 0;
  padding:.6vw 1.2vw;
  text-align: center;
  transition: 250ms ease-out;
  justify-self: center;
  cursor: pointer;
}

button:hover{
  background: var(--colorDark);
  color: var(--colorBright);
  box-shadow: none;
}

.center-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-box input{
  width: 30%;
}

.check-box{
  margin-top: 1vw;
  display: flex;
  align-items: center;
  font-size: var(--smallText);
  color: var(--colorBright);
}

.check-box input{
  border-radius: 5px;
  border:none;
  outline: none;
  background: red;
  color:var(--colorDark);
  font-weight: bold;
}

.check-box p{
  margin-left: .3vw;
}

.menu-boxes{
  display: flex;
}
.menu-box-main{
  padding-top: 3vw;
  margin-left: 7vw;
}

.br{
  margin:1vw 0;
  content: "";
  height: 2px;
  background: var(--colorDark);
  width: 85vw;
}

.filter-button{
  transform:scale(.8) translateX(-1vw);
  height: 3vw;
  background: var(--colorDark);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1vw;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filter-button p{
  color: var(--colorBright);
  font-size: var(--normalText);
  font-family: var(--fontDrivUs);
  margin-left: 2vw;
}
.filter-button img{
  width: 2vw;
  height: 2vw;
  filter: invert(93%) sepia(5%) saturate(286%) hue-rotate(131deg) brightness(96%) contrast(94%);}

.filter-button:hover{
  box-shadow: 5px 3px 15px #333;
}
