<app-navbar></app-navbar>
<div class="full-Page">
<button>Filter</button>
  <br>
  <!--<app-map></app-map>-->
<div class="content">
  <ul>
    <li *ngFor="let ride of rides">
      <div class="rideItemView" (click)="showDriver=true; driver=ride.driver; selectedRide=ride">
        <img src="./img/placeholder.jpg" alt="placeholder">
        <div class="text">
          <p>From: {{ ride.placeOfDeparture }}</p>
          <p>To: {{ ride.placeOfArrival }}</p>
          <div class="dateRow">
            <p>{{ ride.departureTime | date: 'EEE, dd.MM.yyyy' }}</p>
            <p>{{ ride.departureTime | date: 'hh:mm' }}</p>
          </div>

          <!--<button (click)="getSeat(ride)">book</button>-->
        </div>
      </div>
    </li>
  </ul>
</div>
<app-driver-ride-view *ngIf="showDriver" (stateChange)="onStateChange($event)" [driverString]="driver" [selectedRide]="selectedRide"></app-driver-ride-view>
</div>

